.product-img {
	max-width: 400px;
	height: auto;
}

.product-title h1 {
	color: rgb(57 62 70);
}

.buy-btn {
	font-size: 28px;
	border-radius: 0px;
}

.product-buy-section {
	margin-top: 24px;
	row-gap: 12px;
}

.review-list {
	row-gap: 24px;
}

.user-review-section {
	row-gap: 12px;
}

.user-review-textarea:focus {
	box-shadow: none;
	border: 2px solid var(--bs-gray-400);
}

.user-review-btn {
	width: 90px;
	border: 2px solid var(--bs-gray-500);
	border-radius: 0.25rem;
	background-color: white;
	color: var(--bs-gray);
	font-weight: 600;
}

.user-review-btn:hover, .user-review-btn:active {
	background-color: var(--bs-gray-300);
	border-color: var(--bs-gray-500);
	color: var(--bs-gray);
}

.user-review-btn:focus {
	box-shadow: none;
}