.main-content {
  margin-top: 48px;
  min-height: 60vh;
}

.footer-dark {
	margin-top: 200px;
	color: #f0f9ff;
	background-color: #282d32;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

.sign-up-btn {
  margin-right: 1rem;
  border: 0px;
  background-color: white;
}

.sign-up-btn:hover {
  color: var(--bs-primary);
}

.fa-compass {
  color: var(--bs-primary);
  font-size: 70px;
}

.fa-shopping-cart {
  display: flex;
  flex-direction: row;
  color: rgba(0,0,0,.55);
  font-size: 32px;
  padding: 8px;
}

.cart-with-items:after {
  display: flex;
  content: attr(value);
  justify-content: center;
  font-size: 16px;
  width: 20px;
  height: 20px;
  color: white;
  background-color: var(--bs-green);
  border-radius: 50%;
  margin-top: auto;
  margin-bottom: -8px;
  margin-left: -10px;
  padding: 1px;
}

.cart-link {
  text-decoration: none;
}

.fa-user {
  color: rgba(0,0,0,.55);
  font-size: 32px;
}

.login-form {
  background-color: white;
  padding: 0px 12px;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(206,211,217);
  border-radius: 18px;
}

.login-form .form-control {
  border: none;
  border-bottom: 1px solid rgb(220,220,220);
  box-shadow: none;
}

.dropdown-menu-center {
  left: 50% !important;
  transform: translateX(-50%) !important;
  top: 100% !important;
}

.review-author {
  font-weight: bold;
}

.review-date {
  margin-left: auto;
}