.home-page-top {
	background: var(--bs-primary);
	height: 270px;
	margin-bottom: -36px;
}

h1, h2 {
	color: rgb(255,255,255);
}

.view-games-btn {
	display: block;
	margin-top: auto;
}

.fa-caret-right {
	margin-left: 3px;
	font-size: 12px;
}