.cart-product {
	padding: 24px;
	border-bottom: 1px solid var(--bs-gray-400);
}

.img-product {
	width: 120px;
	height: auto;
}

.fa-times {
	margin-left: auto;
	font-size: 24px;
}

.fa-times:hover {
	cursor: pointer;
	color: var(--bs-gray);
}

.cart-product-main {
	flex-direction: row;
	column-gap: 24px;
}

.cart-product-footer {
	column-gap: 24px;
	align-items: center;
	justify-content: flex-end;
}

.cart-item-price {
	font-size: 18px;
}